[Desktop Entry]
Encoding=UTF-8
Name=Mouse Configuration
Name[am]=አይጥ ማሰናጃ
Name[ca]=Configuració del ratolí
Name[de]=Maus-Konfiguration
Name[el]=Mouse Configuration
Name[es]=Configuración del Ratón
Name[fr]=Configuration de la souris
Name[it]=Configura il mouse
Name[nl]=Muis Configuratie
Name[pt]=Configurar Rato
Name[sv]=Muskonfiguration
Comment=Configure mouse for session
Comment[am]=አይጥ ለ ክፍለ ጊዜ ማሰናጃ
Comment[ca]=Configura el ratolí per aquesta sessió
Comment[de]=Konfiguriere die Maus für diese Session
Comment[el]=Διαμορφώστε το ποντίκι για την περίοδο λειτουργίας
Comment[es]=Configurar el ratón para la sesión
Comment[fr]=Configure la souris pour la session
Comment[it]=Configura il mouse per la sessione
Comment[nl]=Configureer muis voor sessie
Comment[pt]=Configurar o rato para a sessão
Comment[sv]=Konfigurera mus för sessionen
Exec=ds-mouse
Icon=input-mouse
Terminal=false
Type=Application
Categories=Settings;
NoDisplay=False
